body {
    display: grid;
    place-items: center;
    /* background-color: #C8EAD3; */
    background-color: rgba(138, 124, 92, 0.985);

}

.center-div {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

header{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5vw;
    background-color: rgba(47, 43, 40, 0.977);
    margin-bottom: 5px;
    border-radius: 8px;
}
b{
    font-size:x-large;
    font-weight: 900;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}


textarea {
    border: none;
    outline: none;
}

b1{
    text-align: center;
    padding: 8px;;
    width: auto;
    height: 30px;
    background-color: black;
    border-radius: 8px;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
}
b2{
    text-align: center;
    padding: 8px;
    width: auto;
    height: 30px;
    background-color: #e0c77d;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
}

.left-side{
    display:flex;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 571px;
    width: 40vw;
}
.left-side > .left-head{
    display: block;
    box-shadow: 0px 0px 8px 2px #8b56b7e0;;
}

.right-side{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 571px;
    width: 40vw;
    overflow-y: scroll;
}
.right-side > .right-head{
    box-shadow: inset 3px 2px 0px 3px #2c3046f2;
    display: block;
    ;
    
}

@media (max-width: 800px) {
    .center-div{
        display: flex;
        flex-direction: column;
    }

    .left-side {
        width: 100%;
    }

    .right-side {
        width: 100%;
    }
}